<div class="row m-5">
  	<div class="col-6">
		<h3 class="mb-4">Services We Offer</h3>

    	<ul class="nav nav-tabs" role="tablist">
      		<li class="nav-item">
       			<a class="nav-link active" data-toggle="tab" href="#travel" role="tab" aria-controls="travel" aria-selected="true">Insurance</a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" data-toggle="tab" href="#flights" role="tab" aria-controls="flights" aria-selected="false">Flights</a>
      		</li>
      		<li class="nav-item">
       			 <a class="nav-link" data-toggle="tab" href="#sight" role="tab" aria-controls="sight" aria-selected="false">Sightseeing</a>
      		</li>
    	</ul>
		<div class="tab-content">
		  	<div id="travel" role="tabpanel" class="tab-pane fade show active" aria-labelledby="travel-tab">
		    	<h5 class="paneltitle text-center m-2">Travel Insurance</h5>
		    	<p>Travel save with our insurance. You don't have to care about anything! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio reprehenderit consectetur porro, dolores error ipsa molestiae. Voluptate quis, officia facere velit officiis eius excepturi, similique doloremque nesciunt, quam maiores sapiente.</p>
		    </div>
		    <div id="flights"role="tabpanel " class="tab-pane fade" aria-labelledby="flights-tab">
		    	<h5 class="paneltitle text-center m-2">Flights</h5>
		    	<p>Travel save with our insurance. You don't have to care about anything! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio reprehenderit consectetur porro, dolores error ipsa molestiae. Voluptate quis, officia facere velit officiis eius excepturi, similique doloremque nesciunt, quam maiores sapiente.</p>
		    </div>
		    <div id="sight"role="tabpanel" class="tab-pane fade" aria-labelledby="sight-tab">
		    	<h5 class="paneltitle text-center m-2">Sightseeing</h5>
		    	<p>Travel save with our insurance. You don't have to care about anything! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio reprehenderit consectetur porro, dolores error ipsa molestiae. Voluptate quis, officia facere velit officiis eius excepturi, similique doloremque nesciunt, quam maiores sapiente.</p>
		    </div>
		</div>
	</div>
	<div class= col-6>
		<img id="homeimg" src="../assets/img/homepic.jpg">
	</div>
</div>



